[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dnspython = "*"
mongoengine = "*"
djangorestframework = "*"
djongo = "*"
django-cors-headers = "*"
pymongo = "==3.12.3"
django-crispy-forms = "*"
python-dateutil = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
