{% extends 'client/base.html' %}


{% block title %}
<title>Employee Index</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_employee %}
    <p>Hello {{user.name}}</p>
<p class="display-4">Welcome to employe main menu</p>

<p>You are logged in as {{ user.email }}</p>

<p>You are an Employee. </p>

<p class="display-1">Menus:</p>
<div class="container">
    <ul>
        <li><a href="/employee/products" class="text-decoration-none display-4">Products</a></li>

    </ul>
</div>
{% endif %}

<div>
    <div>
        <div><p></p></div>
    </div>
    <div></div>
</div>

{% endblock %}