{% extends 'client/base.html' %}


{% load crispy_forms_tags %}


{% block title %}

<title>Employee Login</title>
{% endblock %}


{% block content %}
    <center>

        <div class="row ">
            <div class="col-md-12">
                <p class="display-3">Log In</p>
                <p>You will be redirected to your respecive page</p>
            </div>
        </div>
        <form method="post" class="form-group">
          {% csrf_token %}
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                      <table class="table">
                        {{form|crispy}}
                      </table>
                      <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </center>
    
{% endblock %}




