{% extends 'employee/base.html' %}


{% load crispy_forms_tags %}

{% comment %} add a title in middle of screen {% endcomment %}


{% block title %}
<title>Employee Registration</title>
{% endblock %}

<div class="d-flex justify-center-center">
    <p class="display-4">Employee Registration</p>
</div>


{% block content %}

    {% comment %} make the form in middle of the screen {% endcomment %}


    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-5">
                <form action="#" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
{% endblock %}